* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: serif;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;

}

h1 {
    font-family: 'DM serif';
    font-size: 50px;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.text_xl {}

.text_md {}

.text_sm {}

.footer {
    padding: 16px;
    background-color: black;
    color: white;
}